// Style for main page
$font : Helvetica, sans-serif;
body{
	font-family: $font;
}
.main-desc{
	display:block;
	position:absolute;
	top: 150px;
	left:50px;

	// Title
	h1{
		font-weight:300;
	}

	// Short Description
	p{
		font-weight:100;
		text-transform:uppercase;
	}
}

#card-initial{
	position:fixed;
	z-index:2;
	right:20px;
	top:20px;
	background:#3E4EB8;
	color:white;
	h4, a{
		color:white;
	}
	.mdl-card__actions {
	  display: flex;
	  box-sizing:border-box;
	  align-items: center;
	}
	.mdl-card__actions > .material-icons {
	  padding-right: 10px;
	}
}

#mmap{
	position: fixed;
	z-index:1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}