body {
  font-family: Helvetica, sans-serif; }

.cards {
  position: fixed;
  right: 140px;
  top: 20px;
  height: 100%;
  width: 200px;
  z-index: 2; }

.main-desc {
  display: block;
  position: absolute;
  top: 150px;
  left: 50px; }
  .main-desc h1 {
    font-weight: 300; }
  .main-desc p {
    font-weight: 100;
    text-transform: uppercase;
    width: 400px;
    text-align: justify; }

.card-initial {
  margin-bottom: 20px; }
  .card-initial > .mdl-card__title {
    background: #3E4EB8;
    color: white; }
  .card-initial .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center; }
  .card-initial .mdl-card__actions > .material-icons {
    padding-right: 10px; }

#icon-users, #icon-services {
  cursor: default; }

map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#choose-tile-provider {
  position: absolute;
  bottom: 100px;
  margin: 40px; }
  #choose-tile-provider label {
    display: block; }

#mmap {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.map-layout-transparent {
  background: black; }

.map-layout-transparent .mdl-layout__header,
.map-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white; }
