// Style for main page
$font : Helvetica, sans-serif;
body{
	font-family: $font;
}
.cards{
	position:fixed;
	right:140px;
	top:20px;
	height:100%;
	width:200px;
	z-index:2;
}
.main-desc{
	display:block;
	position:absolute;
	top: 150px;
	left:50px;

	// Title
	h1{
		font-weight:300;
	}

	// Short Description
	p{
		font-weight:100;
		text-transform:uppercase;
		    width: 400px;
    text-align: justify;
	}
}

.title-mapid{
	cursor:default;	
}

.card-initial{
	margin-bottom:20px;
	> .mdl-card__title {
		background:#3E4EB8;
		color:white;
	} 
	.mdl-card__actions {
	  display: flex;
	  box-sizing:border-box;
	  align-items: center;
	}
	.mdl-card__actions > .material-icons {
	  padding-right: 10px;
	}
}

#icon-users, #icon-services{
	cursor:default;
}

//DEBUGDEBUGDEBUG
#marker-own-location{
	height:20px;
	width:20px;
	background:red;
}

map{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#choose-tile-provider{
	position: absolute;
    bottom: 100px;
    margin: 40px;
    label{
    	display:block;
    }
}

#mmap{
	position: fixed;
	z-index:1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map-layout-transparent {
  background: black;
}
.map-layout-transparent .mdl-layout__header,
.map-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

.mdl-switch.is-checked .mdl-switch__thumb {
	background : rgb(255,64,129) !important;
}
.mdl-switch.is-checked .mdl-switch__track {
	background : rgba(255,94,179,.7) !important;
}

#servicecards{
	position: absolute;
    right: 10px;
    top: 10px;
}


#tooltip {
	position :absolute;
	z-index:5;
	font-family: courier;
	font-weight:bold;	
	opacity:0.4;
	transition: all 0.5s;
	.internal{
		margin-left:20px;
		position:absolute;
	}
	.external{
		position:absolute;
		left:-270px;
		top:-180px;
	}
	#arr-upper{
		position: absolute;
	    top: -140px;
	    left: -35px;
	}
}

#tooltip:hover{
	opacity:1;
}