<h1>COLMAP</h1>
<p>ALorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac diam tortor. Fusce consequat porttitor lorem, ac iaculis magna mattis sed. Nulla et ante at urna efficitur tempus. In dapibus dapibus auctor. nonymous, collaborative geographic intelligence platform</p>
<form action="#">
<div class="mdl-textfield mdl-js-textfield">
<input value="{{mapID}}" class="mdl-textfield__input" type="text" id="sample1">
<label class="mdl-textfield__label" for="sample1">Text...</label>
</div>
<button (click)="toMap(mapID)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
create
</button>
</form>