<div class="map-layout mdl-layout mdl-js-layout">
<header class="mdl-layout__header mdl-layout--fixed-header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title title-mapid">{{mapid}}
      <span id="icon-users" class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</span>
      <div class="mdl-tooltip" for="icon-users">verbundene user (mit dir)</div> 
      <span id="icon-services" class="material-icons mdl-badge mdl-badge--overlap" data-badge="0">layers</span>
      <div class="mdl-tooltip" for="icon-services">verbundene services</div> 
    </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">COLMAP</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" (click)="btnAddLocation()">add own location</a>
    <a class="mdl-navigation__link" (click)="btnDebug()">debug (expose2window)</a>
  </nav>
  <nav id="choose-tile-provider">
    <h6>Tile Provider</h6>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
      <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1">
      <span (click)="provider('ol.source.Stamen')" class="mdl-radio__label">Stamen</span>
    </label>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
      <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
      <span (click)="provider('ol.source.OSM')" class="mdl-radio__label">OpenStreetMap</span>
    </label>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
      <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="3">
      <span (click)="provider('ol.source.BingMaps')" class="mdl-radio__label">Bing</span>
    </label>
  </nav>
</div>
<main class="mdl-layout__content">
  <div id="marker-own-location"></div>
  <div (window:resize)="onResize($event)" [style.width.px]="bw" [style.height.px]="bh" id="mmap" class="map-container"></div>
  <div id="map-snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
</main>
</div>
